<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">PhotoApp</a>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-right col-md-4">
        <% if current_user %>
        <li class="col-md-8 user-name">
          <%= link_to "Edit profile", edit_user_registration_path, class: "fa fa-user" %>
        </li>
        <li class="col-md-1"> </li>
        <li class="col-md-3 logout">
          <%= link_to "Log Out", destroy_user_session_path, class: 'btn btn-xs btn-danger', method: :delete  %>
        </li>
        <% else %>
        <li class="col-md-4 pull-right">
        <%= link_to "Log In", new_user_session_path, class: "btn btn-primary"%></li>
        <li class="col-md-4 "><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>